<h2>登入</h2>

<form asp-action="Login" method="post">
    <div>
        <label>名稱</label>
        <input name="username" />
    </div>
    <div>
        <label>密碼</label>
        <input name="password" type="password" />
    </div>
    <button type="submit">登入</button>
</form>
