@model User

<h2>註冊</h2>

<form asp-action="Register" method="post">
    <div>
        <label>名稱</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>密碼</label>
        <input asp-for="PasswordHash" type="password" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <button type="submit">註冊</button>
</form>
